.bg-img {
    background-image: url("../../images/LoginBackground.png");
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.img-div {
    width: auto;
    height: auto;
}
.blood-img {
    background-image: url("../../images/BloodDrop.png");
    width: 270px;
    height: 437px;
    background-size: cover;
    transition: width 700ms, height 700ms, transform 1s;
}
.blood-img:hover {
    height: 500px;
    width: 310px;
}
.blood-text-div {
    text-align: center;
    padding-top: 280px;
    padding-right: 25px;
    font-size: 30px;
    height: inherit;
    width: inherit;
    transition: padding-top 700ms, font-size 700ms, text-decoration 700ms;
}
.blood-text-div:hover {
    padding-top: 343px;
    font-size: 35px;
    text-decoration: underline;
}
.blood-text-span {
    text-decoration: inherit;
    font-size: inherit;
}
