.divider-head {
}
.img-row {
  height: 80%;
}
.blood-img {
  width: 70%;
  height: 90%;
  padding-left: 0;
  padding-right: 0;
  background-image: url("../../../images/BloodDrop.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: width 700ms, height 700ms, transform 1s;
}
.blood-img:hover {
  width: 80%;
  height:100%;
}
.blood-text {
  position: absolute;
  padding-left: 20%;
  padding-top: 75%;
  height: inherit;
  font-size: 30px;
  transition: padding-left 700ms, padding-top 700ms, font-size 700ms;
}
.blood-text:hover {
  padding-left: 20%;
  padding-top: 80%;
  font-size: 40px;
  color: white;
}
