.login-col {
    padding-top: 40px;
}
.login-main-div {
    text-align: center;
    background-color: #333333;
    border: red solid 3px;
    border-radius: 5px;
    opacity: 0.9;
    width: 450px;
    height: 550px;
}
.login-text-div {
    padding-top: 15px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.login-form {
    padding-top: 50px;
    padding-left: 15px;
    text-align: left;
}
.label {
    font-size: 25px;
}
.button-div {
    padding-top: 50px;
    text-align: center;
}
.btn, .btn-danger {
    font-size: 25px;
    width: 150px;
    height: 50px;
}
.input-container {
    padding-right: 30px;
}
.form-control {
    height: 45px;
    font-size: 20px;
    color: #2c2c2e;
}
